@charset "UTF-8";
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #0b0b15;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 80rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.select {
  margin: 0px 0px 0.625rem 0px;
  position: relative;
  z-index: 2;
}
.select._form-error .select__title {
  border: 2px solid #ce0101;
  color: #ce0101;
}
.select._form-error .select__value::after {
  border-top: 9px solid #ce0101;
}
.select__body {
  position: relative;
  color: #9d9da7;
  font-size: 0.875rem;
}
.select__title {
  color: inherit;
  text-align: left;
  border: 2px solid #9d9da7;
  background-color: #fff;
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  width: 100%;
}
.select__value {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.select__value > * {
  flex: 1 1 auto;
}
.select__value:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 9px solid #9d9da7;
  align-self: stretch;
  transition: all 0.3s ease 0s;
  transform: translateY(5px);
}
._select-open .select__value:after {
  transform: translateY(5px) rotate(-180deg);
}
.select__text {
  flex: 1 1 auto;
}
.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}
.select__options {
  position: absolute;
  top: 43px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border: 2px solid #9d9da7;
  border-top: 0;
}
.select__option {
  width: 100%;
  display: block;
  text-align: left;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  color: inherit;
}
.select__option._select-selected {
  background-color: #eee;
}
@media (any-hover: hover) {
  .select__option:hover {
    background: #d9d9d9;
  }
}

body::after {
  content: "";
  background-color: rgba(33, 40, 82, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  transform: scale(1);
}

.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s;
  background-color: #fff;
  padding: 1rem 1.5625rem 3.125rem;
  max-width: 35.625rem;
  width: 100%;
}
.lock .popup__content {
  visibility: visible;
}

.header {
  box-shadow: 0px 10px 18px 2px rgba(24, 36, 79, 0.2);
  background-color: #fff;
}
.header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.625rem 0;
}
@media (min-width: 45.0625em) {
  .header__top {
    margin: 0px 18.5% 0px 0px;
  }
}
.header__messages {
  margin: 0px 1.5625rem 0px 0px;
}
.header__lk {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__top-logo {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%;
  overflow: hidden;
}
.header__top-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header__menu {
  margin: 0px 0px 0px 0.9375rem;
  position: relative;
}
@media (any-hover: hover) {
  .header__menu:hover > ul {
    display: block;
  }
  .header__menu:hover .header__arrow::before {
    transform: translateX(-4px) rotate(-45deg);
  }
  .header__menu:hover .header__arrow::after {
    transform: translateX(4px) rotate(45deg);
  }
}
.header__menu._active > ul {
  display: block;
}
.header__menu._active .header__arrow::before {
  transform: translateX(-4px) rotate(-45deg);
}
.header__menu._active .header__arrow::after {
  transform: translateX(4px) rotate(45deg);
}
.header__menu ul {
  display: none;
  background-color: #fff;
  position: absolute;
  padding: 1.5625rem;
  transform: translateY(20px);
  left: -4.375rem;
  z-index: 2;
}
.header__menu ul::before {
  content: "";
  bottom: 100%;
  left: 4.8125rem;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.header__menu ul li:not(:last-child) {
  margin-bottom: 1.25rem;
}
.header__menu ul li a {
  white-space: nowrap;
}
@media (min-width: 81.875em) {
  .header__menu ul li a {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .header__menu ul li a {
      font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .header__menu ul li a {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .header__menu ul li a {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .header__menu ul li a:hover {
    text-decoration: underline;
  }
}
@media (max-width: 45em) {
  .header__menu ul {
    padding: 1.125rem;
    left: auto;
    right: 0;
  }
  .header__menu ul::before {
    left: 94%;
  }
}
.header__arrow {
  position: relative;
  cursor: pointer;
  width: 1.125rem;
  height: 0.9375rem;
}
.header__arrow::before, .header__arrow::after {
  content: "";
  position: absolute;
  width: 0.75rem;
  height: 0.0625rem;
  background-color: #000;
  top: 50%;
  transform: translateY(-50%);
  left: 0.125rem;
  transition: 0.15s;
}
.header__arrow::before {
  transform: translateX(-4px) rotate(45deg);
}
.header__arrow::after {
  transform: translateX(4px) rotate(-45deg);
}
.header__middle {
  background-color: #212852;
  padding: 2.5rem 0 1.5625rem;
}
.header__middle p {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.header__bottom {
  padding: 2rem 0;
  display: flex;
  align-items: center;
}
@media (max-width: 65.625em) {
  .header__bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}
.header__bottom-wrapper {
  display: flex;
  flex: 1 1 100%;
}
@media (max-width: 43.75em) {
  .header__bottom-wrapper {
    flex-direction: column;
  }
}
.header__logo-block {
  display: flex;
}
.header__logo {
  margin: 0px 1.25rem 0px 0px;
}
.header__logo-text {
  padding: 0.875rem 0px 0px 0px;
  font-weight: 700;
  line-height: 1.1;
}
@media (min-width: 81.875em) {
  .header__logo-text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .header__logo-text {
      font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .header__logo-text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .header__logo-text {
    font-size: 1rem;
  }
}
.header__bottom-text {
  padding: 0.875rem 0px 0px 0px;
  display: flex;
  flex-direction: column;
  line-height: 1.1;
}
@media (min-width: 120em) {
  .header__bottom-text {
    margin-left: 3.75rem;
  }
}
@media (min-width: 43.75em) and (max-width: 120em) {
  @supports (margin-left: clamp( 0.9375rem , -0.6762295082rem  +  3.6885245902vw , 3.75rem )) {
    .header__bottom-text {
      margin-left: clamp( 0.9375rem , -0.6762295082rem  +  3.6885245902vw , 3.75rem );
    }
  }
  @supports not (margin-left: clamp( 0.9375rem , -0.6762295082rem  +  3.6885245902vw , 3.75rem )) {
    .header__bottom-text {
      margin-left: calc(0.9375rem + 2.8125 * (100vw - 43.75rem) / 76.25);
    }
  }
}
@media (max-width: 43.75em) {
  .header__bottom-text {
    margin-left: 0.9375rem;
  }
}
@media (min-width: 81.875em) {
  .header__bottom-text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .header__bottom-text {
      font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9191919192rem  +  0.404040404vw , 1.25rem )) {
    .header__bottom-text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .header__bottom-text {
    font-size: 1rem;
  }
}
@media (max-width: 43.75em) {
  .header__bottom-text {
    margin: 0;
  }
}
.header__bottom-thin-text {
  font-weight: 300;
}
.header__button {
  margin: 0px 0px 0px 0.625rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  padding: 1.0625rem 0.875rem;
  background-color: #00adef;
  transition: 0.1s;
}
@media (min-width: 81.875em) {
  .header__button {
    font-size: 1.09375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 0.875rem , 0.8042929293rem  +  0.3535353535vw , 1.09375rem )) {
    .header__button {
      font-size: clamp( 0.875rem , 0.8042929293rem  +  0.3535353535vw , 1.09375rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8042929293rem  +  0.3535353535vw , 1.09375rem )) {
    .header__button {
      font-size: calc(0.875rem + 0.21875 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .header__button {
    font-size: 0.875rem;
  }
}
@media (any-hover: hover) {
  .header__button:hover {
    background-color: #0383b6;
  }
}
@media (max-width: 65.625em) {
  .header__button {
    margin: 1.25rem 0px 0px 0px;
  }
}

body {
  background-color: #f3f3f3;
}

.page--blue {
  background-color: #212852;
}

@media (min-width: 81.875em) {
  .activity {
    margin-top: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (margin-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .activity {
      margin-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem );
    }
  }
  @supports not (margin-top: clamp( 1.875rem , 1.0669191919rem  +  4.0404040404vw , 4.375rem )) {
    .activity {
      margin-top: calc(1.875rem + 2.5 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity {
    margin-top: 1.875rem;
  }
}
.activity__title {
  font-weight: 700;
}
@media (min-width: 81.875em) {
  .activity__title {
    font-size: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1.5625rem , 1.360479798rem  +  1.0101010101vw , 2.1875rem )) {
    .activity__title {
      font-size: clamp( 1.5625rem , 1.360479798rem  +  1.0101010101vw , 2.1875rem );
    }
  }
  @supports not (font-size: clamp( 1.5625rem , 1.360479798rem  +  1.0101010101vw , 2.1875rem )) {
    .activity__title {
      font-size: calc(1.5625rem + 0.625 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity__title {
    font-size: 1.5625rem;
  }
}
.activity__ctn {
  max-width: 85.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}
.activity__pink {
  color: #f10b67;
}
.activity__table-wrapper {
  width: 100%;
  background-color: #fff;
  margin: 1.4375rem 0px 0px 0px;
  overflow-x: auto;
  box-shadow: 0px 10px 18px 2px rgba(24, 36, 79, 0.2);
}
@media (min-width: 81.875em) {
  .activity__table-wrapper {
    padding-top: 2.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-top: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem )) {
    .activity__table-wrapper {
      padding-top: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem );
    }
  }
  @supports not (padding-top: clamp( 0.9375rem , 0.5132575758rem  +  2.1212121212vw , 2.25rem )) {
    .activity__table-wrapper {
      padding-top: calc(0.9375rem + 1.3125 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity__table-wrapper {
    padding-top: 0.9375rem;
  }
}
@media (min-width: 81.875em) {
  .activity__table-wrapper {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-right: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem )) {
    .activity__table-wrapper {
      padding-right: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem );
    }
  }
  @supports not (padding-right: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem )) {
    .activity__table-wrapper {
      padding-right: calc(1.25rem + 2.5 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity__table-wrapper {
    padding-right: 1.25rem;
  }
}
@media (min-width: 81.875em) {
  .activity__table-wrapper {
    padding-bottom: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-bottom: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem )) {
    .activity__table-wrapper {
      padding-bottom: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem );
    }
  }
  @supports not (padding-bottom: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem )) {
    .activity__table-wrapper {
      padding-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity__table-wrapper {
    padding-bottom: 1.25rem;
  }
}
@media (min-width: 81.875em) {
  .activity__table-wrapper {
    padding-left: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-left: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem )) {
    .activity__table-wrapper {
      padding-left: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem );
    }
  }
  @supports not (padding-left: clamp( 1.25rem , 0.4419191919rem  +  4.0404040404vw , 3.75rem )) {
    .activity__table-wrapper {
      padding-left: calc(1.25rem + 2.5 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity__table-wrapper {
    padding-left: 1.25rem;
  }
}
.activity table {
  border-collapse: collapse;
  width: 100%;
}
.activity table tr th {
  text-align: left;
  padding: 0px 0px 1.6875rem 0px;
  font-weight: 700;
  white-space: nowrap;
}
@media (min-width: 81.875em) {
  .activity table tr th {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .activity table tr th {
      font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .activity table tr th {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity table tr th {
    font-size: 0.875rem;
  }
}
.activity table tr th:not(:last-child) {
  padding-right: 1.25rem;
}
.activity table tr td {
  padding: 1.25rem 0;
  white-space: nowrap;
}
@media (min-width: 81.875em) {
  .activity table tr td {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .activity table tr td {
      font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.7537878788rem  +  0.6060606061vw , 1.25rem )) {
    .activity table tr td {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .activity table tr td {
    font-size: 0.875rem;
  }
}
.activity table tr td:not(:last-child) {
  padding-right: 1.25rem;
}
.activity table tbody tr {
  vertical-align: top;
}
.activity table tbody tr:not(:last-child) {
  border-bottom: solid 2px #d4d7df;
}
.activity__two-cols tr td:first-child {
  width: 100%;
}

.buttons {
  margin: 3.125rem 0px 0px 0px;
}
.buttons__title {
  font-weight: 700;
  font-size: 2.1875rem;
}
.buttons__main {
  margin: 0.9375rem 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 0.625rem;
}
.buttons__btn {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  font-size: 1.09375rem;
  padding: 1.0625rem 0.875rem;
  background-color: #00adef;
  transition: 0.1s;
}
@media (any-hover: hover) {
  .buttons__btn:hover {
    background-color: #0383b6;
  }
}

.popup__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.popup__close {
  align-self: flex-end;
}
.popup__text {
  margin: 1.5625rem 0px 0px 0px;
  max-width: 28.4375rem;
  width: 100%;
}
.popup__title {
  text-transform: uppercase;
  font-weight: 700;
  color: #132152;
  text-align: center;
}
.popup__form {
  margin: 1.5625rem 0px 0px 0px;
}

.form-popup {
  display: flex;
  flex-direction: column;
}
.form-popup__inputs {
  width: 100%;
}
.form-popup__input {
  border: 2px solid #9d9da7;
  color: #9d9da7;
  width: 100%;
  padding: 0.75rem 1.25rem;
  outline: none;
  font-size: 0.875rem;
}
.form-popup__input::placeholder {
  color: #9d9da7;
}
.form-popup__input:not(:last-child) {
  margin-bottom: 0.625rem;
}
.form-popup__input._form-error {
  border: 2px solid #ce0101;
  color: #ce0101;
}
.form-popup__input._form-error::placeholder {
  color: #ce0101;
}
.form-popup__input--inactive {
  pointer-events: none;
  background-color: #e3e3e3;
}
.form-popup__attach-file {
  margin: 0px 0px 0.625rem 0px;
  border: 2px solid #9d9da7;
  min-height: 9.1875rem;
  display: flex;
  flex-direction: column;
}
.form-popup__attach-file._form-error {
  border: 2px solid #ce0101;
}
.form-popup__attach-file._form-error textarea {
  color: #ce0101;
}
.form-popup__attach-file._form-error textarea::placeholder {
  color: #ce0101;
}
.form-popup__attach-file textarea {
  width: 100%;
  flex: 1 1 100%;
  color: #9d9da7;
  padding: 0.75rem 1.25rem;
  outline: none;
  font-size: 0.875rem;
  resize: none;
}
.form-popup__attach-file textarea::placeholder {
  color: #9d9da7;
}
.form-popup__attach-file label {
  position: relative;
  cursor: pointer;
  padding: 0 1.25rem 0.3125rem;
}
.form-popup__attach-file label._form-error span {
  color: #ce0101;
}
.form-popup__attach-file label input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
.form-popup__attach-file label span {
  display: inline-flex;
  color: #9d9da7;
  font-size: 0.75rem;
}
.form-popup__attach-file label span img {
  margin: 0px 0.625rem 0px 0px;
}
.form-popup__ta {
  width: 100%;
  border: 2px solid #9d9da7;
  color: #9d9da7;
  min-height: 9.1875rem;
  padding: 0.75rem 1.25rem;
  outline: none;
  font-size: 0.875rem;
  resize: none;
}
.form-popup__ta::placeholder {
  color: #9d9da7;
}
.form-popup__ta._form-error {
  border: 2px solid #ce0101;
  color: #ce0101;
}
.form-popup__ta._form-error::placeholder {
  color: #ce0101;
}
.form-popup__link {
  margin: 1.5625rem 0px -2.1875rem 0;
  color: #61adec;
  font-size: 0.875rem;
  align-self: flex-start;
}
@media (any-hover: hover) {
  .form-popup__link:hover {
    text-decoration: underline;
  }
}
.form-popup__button {
  margin: 3.75rem 0px 0px 0px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 1.25rem 0.875rem;
  background-color: #00adef;
  transition: 0.1s;
}
@media (min-width: 81.875em) {
  .form-popup__button {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.8383838384rem  +  0.8080808081vw , 1.5rem )) {
    .form-popup__button {
      font-size: clamp( 1rem , 0.8383838384rem  +  0.8080808081vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8383838384rem  +  0.8080808081vw , 1.5rem )) {
    .form-popup__button {
      font-size: calc(1rem + 0.5 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .form-popup__button {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .form-popup__button:hover {
    background-color: #0383b6;
  }
}

@media (min-width: 81.875em) {
  .blocks {
    margin-top: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (margin-top: clamp( 2.1875rem , 1.4804292929rem  +  3.5353535354vw , 4.375rem )) {
    .blocks {
      margin-top: clamp( 2.1875rem , 1.4804292929rem  +  3.5353535354vw , 4.375rem );
    }
  }
  @supports not (margin-top: clamp( 2.1875rem , 1.4804292929rem  +  3.5353535354vw , 4.375rem )) {
    .blocks {
      margin-top: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .blocks {
    margin-top: 2.1875rem;
  }
}
.blocks__contact {
  margin: 0px 0px 1.25rem 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.125rem 2.6875rem 4.375rem;
}
@media (min-width: 53.8125em) {
  .blocks__contact .blocks__btn {
    margin: 0px 7.5rem 0px 0px;
  }
}
@media (max-width: 44.375em) {
  .blocks__contact {
    flex-direction: column;
    padding: 1.5625rem;
    text-align: center;
  }
  .blocks__contact .blocks__btn {
    margin: 1.25rem 0px 0px 0px;
  }
}
.blocks__contact, .blocks__block {
  background-color: #fff;
}
.blocks__btn {
  display: inline-block;
  text-transform: uppercase;
  min-width: 13.3125rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  padding: 0.8125rem 0.875rem;
  background-color: #00adef;
  transition: 0.1s;
}
@media (min-width: 81.875em) {
  .blocks__btn {
    font-size: 1.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.9393939394rem  +  0.303030303vw , 1.1875rem )) {
    .blocks__btn {
      font-size: clamp( 1rem , 0.9393939394rem  +  0.303030303vw , 1.1875rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9393939394rem  +  0.303030303vw , 1.1875rem )) {
    .blocks__btn {
      font-size: calc(1rem + 0.1875 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .blocks__btn {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .blocks__btn:hover {
    background-color: #0383b6;
  }
}
.blocks__main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.25rem;
}
@media (max-width: 61.25em) {
  .blocks__main {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 37.5em) {
  .blocks__main {
    grid-template-columns: 1fr;
  }
}
.blocks__block {
  display: flex;
  flex-direction: column;
}
.blocks__block img {
  max-width: 100%;
}
.blocks__block--3 {
  grid-row: 1/3;
  grid-column: 3;
}
@media (max-width: 61.25em) {
  .blocks__block--3 {
    grid-column: 2;
  }
}
@media (max-width: 37.5em) {
  .blocks__block--3 {
    grid-row: auto;
    grid-column: auto;
  }
}
@media (min-width: 61.3125em) {
  .blocks__block--8 {
    grid-row: 3/5;
    grid-column: 2;
  }
}
@media (min-width: 61.3125em) {
  .blocks__block--9 {
    grid-row: 3/5;
    grid-column: 3;
  }
}
.blocks__wrapper {
  flex: 1 1 100%;
  padding: 2.6875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.blocks__wrapper .blocks__title {
  margin: 0px 0px 1.25em 0px;
}
@media (min-width: 81.875em) {
  .blocks__wrapper .blocks__btn {
    margin-top: 3.125rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (margin-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .blocks__wrapper .blocks__btn {
      margin-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem );
    }
  }
  @supports not (margin-top: clamp( 1.25rem , 0.6439393939rem  +  3.0303030303vw , 3.125rem )) {
    .blocks__wrapper .blocks__btn {
      margin-top: calc(1.25rem + 1.875 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .blocks__wrapper .blocks__btn {
    margin-top: 1.25rem;
  }
}
@media (max-width: 46.875em) {
  .blocks__wrapper {
    padding: 1.5625rem;
  }
}
.blocks__text-wrapper {
  flex: 1 1 100%;
}
.blocks__title {
  font-weight: 700;
}
@media (min-width: 81.875em) {
  .blocks__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .blocks__title {
      font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem );
    }
  }
  @supports not (font-size: clamp( 1.125rem , 1.0037878788rem  +  0.6060606061vw , 1.5rem )) {
    .blocks__title {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .blocks__title {
    font-size: 1.125rem;
  }
}
.blocks__tippy {
  margin: 0px 0px 0px 0.3125rem;
  transform: translateY(-2px);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #989898;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  color: #fff;
}
.blocks__img-ul li {
  position: relative;
  display: flex;
  align-items: baseline;
  line-height: 1.4em;
}
@media (min-width: 81.875em) {
  .blocks__img-ul li {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .blocks__img-ul li {
      font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .blocks__img-ul li {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .blocks__img-ul li {
    font-size: 1rem;
  }
}
.blocks__img-ul li::before {
  content: "";
  position: relative;
  transform: translateY(8px);
  margin: 0px 0.625rem 0px 0px;
  min-width: 1.875rem;
  min-height: 1.875rem;
}
@media (max-width: 46.875em) {
  .blocks__img-ul li::before {
    min-width: 1.5625rem;
    min-height: 1.5625rem;
  }
}
.blocks__img-ul li:not(:last-child) {
  margin-bottom: 1.25rem;
}
.blocks__img-ul li a {
  text-decoration: underline;
}
@media (any-hover: hover) {
  .blocks__img-ul li a:hover {
    text-decoration: none;
  }
}
.blocks__lines::before {
  background: url("../img/lk/lines.png") center/contain no-repeat;
}
.blocks__pdf::before {
  background: url("../img/lk/PDF.png") center/contain no-repeat;
}
.blocks__text {
  line-height: 1.4em;
}
@media (min-width: 81.875em) {
  .blocks__text {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .blocks__text {
      font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .blocks__text {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .blocks__text {
    font-size: 1rem;
  }
}
.blocks__ul {
  margin: 0px 0px 1.875rem 0px;
}
.blocks__ul li {
  line-height: 1.4em;
  display: flex;
  align-items: baseline;
}
@media (min-width: 81.875em) {
  .blocks__ul li {
    font-size: 1.375rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .blocks__ul li {
      font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.8787878788rem  +  0.6060606061vw , 1.375rem )) {
    .blocks__ul li {
      font-size: calc(1rem + 0.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .blocks__ul li {
    font-size: 1rem;
  }
}
.blocks__ul li:not(:last-child) {
  margin-bottom: 1.25rem;
}
.blocks__ul li::before {
  content: "";
  display: inline-block;
  transform: translateY(-5px);
  min-width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #0b0b15;
  margin: 0px 0.625rem 0px 0px;
}
.blocks__yt::before {
  background: url("../img/lk/yt.png") center/contain no-repeat;
}
.blocks__tps::before {
  background: url("../img/lk/tps.png") center/contain no-repeat;
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: transform, visibility, opacity;
}

.tippy-box[data-placement^=top] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^=top] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  transform-origin: center top;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^=bottom] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  transform-origin: center bottom;
}

.tippy-box[data-placement^=left] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^=left] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  transform-origin: center left;
}

.tippy-box[data-placement^=right] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^=right] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  transform-origin: center right;
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}
